* {
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.name {
    margin-left: 20px;
}

div>h1>a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

div>h1>a:hover {
    color: black;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: darkblue;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: black solid;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1em;
    margin-right: 20px;
    align-items: self-end;
}

/* header nav */
header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    transition: color 0.2s ease;
}

header nav a:hover {
    color: rgb(0, 0, 0);
}

header nav a:active {
    color: gray;
    border-bottom: gray 2px solid;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.showBtn {
    display: inline-block;
    visibility: visible;
    font-size: 25px;
    font-family: "Rubik";
}

nav {
    position: relative;
}

/* media */
@media (min-width: 769px) {
    .showBtn {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        min-width: 140px;
        padding: 0;
        background-color: darkblue;
    }

    header nav ul.nav-links-open {
        display: flex;
        z-index: 1001;
        border: black 2px solid;
    }

    header ul li {
        padding: 12px 16px;
    }

    .showBtn {
        display: inline-block;
        visibility: visible;
    }


}

/* mobile media */
@media only screen and (max-width: 600px) {

    .wrapper {
        width: 100%;
        overflow-x: hidden;
    }

    .home {
        background-image: linear-gradient(darkblue, lightblue, white) !important;
    }

    .gar {
        width: 150px !important;
        height: 150px !important;
    }

    .text-beside-img {
        font-size: 3em !important;
    }

    .h2h3>h2 {
        font-size: 1.5em !important;
    }

    .h2h3>h3 {
        padding: 0 10px !important;
        font-size: 1.6em !important;
    }

    .h2h3 {
        font-size: 1.7em !important;
        -webkit-text-stroke: 1px black !important;
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        padding-right: 40px !important;
        padding-top: 7em !important;
        padding-left: 40px !important;
        margin-top: -120px;
        line-height: 1.5;
    }

    .about>h2 {
        font-size: 30px !important;
        width: 70%;
        line-height: 1.6;
    }

    
    .flex-box {
        flex-direction: column !important;
    }
    
    .flex-box img {
        display: none !important;
        flex-direction: column;
    }
    
    .about>div {
        width: 80% !important;
        font-size: 1.3em !important;
        text-align: center;
    }

    .arrow {
        margin-left: -80px ;
    }

    .project-list {
        display: grid;
        gap: 10vh !important;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 2fr);
    }

    .project-h1 {
        font-size: 70px !important;
        margin-left: -10px !important;
    }

    .my-projects h3 {
        display: block !important;
    }

    .github {
        font-size: 12px;
    }

    .gmail {
        font-size: 12px;
    }
}


.showBtn {
    background-color: darkblue;
    color: white;
    border: none;
    transition: color 0.2s ease;
    font: bold;
}

.showBtn:hover {
    color: black;
}


/* section */

section {
    min-height: 20em;
    border-top: black solid;
    background-color: darkgray;
    position: relative;
    z-index: 1;
}

/* section home */

.home {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    height: 100%;
    width: 100%;
    /* scroll-margin-top: 90px; */
    background-image: url("asset/pokemon-garchomp.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    z-index: 0;
}

.gar {
    width: 200px;
    height: 200px;
    border: black solid;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

.chomp {
    display: flex;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 40px;
    z-index: 1000;
}

/* .text-beside-img {
    display: flex;
    align-items: center;
    gap: 10px;
} */

.text-beside-img {
    color: white;
    font-size: 4em;
    -webkit-text-stroke: 2px black;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding: 30px;
    gap: 15px;
    align-items: center;
}

.h2h3>h3 {
    padding-right: 3em;
    z-index: 1001;
}

.h2h3>h2 {
    z-index: 1001;
}

.h2h3 {
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 80px;
    padding-top: 7em;
}


/* section about */
.about {
    border-top: black solid;
    background-image: linear-gradient(white, white, white, whitesmoke, whitesmoke, whitesmoke);
    min-height: 65em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about>h1 {
    font-size: 3em;
    display: block;
    padding: 30px;
    color: darkblue;
}

.about>div {
    width: 40%;
    font-size: 1.7em;
    text-align: center;
}

.about>h2 {
    font-size: 2em;
    display: block;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 45px;
}

.aboutbtn {
    font-weight: 700;
    font-size: 33px;
    font-family: "Rubik";
    background: none;
    border: none;
    height: 50px;
    transition: color 0.2s;
    transition: font 0.3s ease;
}

.aboutbtn:hover {
    font-size: 45px;
    cursor: pointer;
    color: darkblue
}

#hidden.hidden {
    display: none;
}

#hidden div {
    display: flex;
    list-style: none;
    padding: 10px;
}

#hidden a {
    text-decoration: none;
    transition: color 0.2s;
}

#hidden a:hover {
    color: darkblue !important;
}


.flex-box {
    display: flex;
    align-items: center;
    gap: 6px;

}

.flex-box img {
    width: 350px;
    height: 200px;
    border: black solid;
    border-radius: 0;
    object-fit: cover;
}

.flex-html a {
    color: orange;
    -webkit-text-stroke: 1px yellow;
}

.flex-css a {
    color: blue;
    -webkit-text-stroke: 1px darkblue;
}

.flex-js a {
    color: rgb(255, 255, 0);
    -webkit-text-stroke: 1px orange;
}

.about>div>h1 {
    padding: 0;
}

.arrow img {
    padding-top: 30px;
    max-height: 400px;
    max-width: 400px;
}

/* section project */
.project {
    min-height: 50em;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    border: none;
}

.project-h1 {
    text-align: center;
    font-size: 5em;
    padding: 30px;
    color: darkblue;
}

.project h2 {
    font-size: 3em;
}

.project-list {
    display: grid;
    gap: 15em;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    align-items: start;
    /* margin-left: 15em; */
}

.my-projects {
    text-align: center;
}

.my-projects {
    border: 5px solid darkblue;
    /* outline: 0px black solid;
    transition: outline-width 0.2s ease; */
    box-shadow: 0 0 0 1px black;
    transition: box-shadow 0.2s ease;
    transition: border 0.1s ease;
}

.my-projects:hover {
    /* outline: 6px solid black; */
    box-shadow: 0 0 0 10px black;
    border: none;
}

.my-projects a {
    padding: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: color 0.2s;
    transition: transform 0.3s ease;
}

.my-projects a:hover {
    color: darkblue;
    transform: scale(1.2);
}

.my-projects h3 {
    display: none;
    font-size: 2em;
    margin: 15px;
}

.my-projects:hover h3 {
    display: block;
}

/* footer */
footer {
    background-color: gray;
    min-height: 10em;
    height: 100%;
    width: 100%;
    border-top: black solid;
}

footer>h1 {
    display: block;
    margin-left: 20px;
}

.gmail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gmail>h2 {
    display: block;
    margin-bottom: 15px;
}

.gmail img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px black solid;
    align-items: center;
}

.center {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 50%;
}

.github {
    display: flex;
    align-items: center;
    gap: 10px;
}

.github>h2 {
    display: block;
    margin-top: 17px;
}

.github img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px black solid;
    align-items: center;
}

.center2 {
    display: block;
    margin-left: 20px;

    margin-top: 20px;
    width: 50%;
}

.p {
    display: block;
    margin-left: 0 auto;
    font: bolder;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
}